<div>
    <div class="d-md-flex pb-5">
        <div class="col-7 ps-5 d-flex flex-column justify-content-center">
            <div class="title">
                <h1 class="titulo1 fw-bolder">
                   Cada Día Es Una Nueva
                </h1>
                <h1 class="titulo2 fw-bolder">
                    Historia que contar
                </h1>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam molestiae quis tempora aliquid
            </div>
            <div class="auth-buttons align-items-start">
                <button class="btn btn-login"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modalLogin"><i class="fa-solid fa-down-long"></i>  Consulta nuestros servicios</button>
            </div>
        </div>
    
        <div class="col-5 align-content-center justify-content-center text-center">
         <a href="#" class="travel-bag"></a>
        </div>
    </div>
</div>

    