.titulo1{
    font-size: 50px;
    color: var(--purple-font-color);
}

.titulo2{
    font-size: 50px;
    color: var(--purple-color);
}

.btn-register{
    background-color: var(--pastel-purple-color);
    font-weight: semibold;
    color: white;
}

.btn-login{
    background-color: var(--purple-color);
    font-weight: semibold;
    color: white;
    margin-right: 5%;
}

.share{
    background-color: #f8e4fc;
    border-radius: 25px;
    padding: 15% 25% 15% 25%;
    margin: 10%;
}

.download{
    background-color: #fff4cc;
    border-radius: 25px;
    padding: 15% 25% 15% 25%;
    margin: 10%;
}

.write{
    background-color: #e8fcf4;
    border-radius: 25px;
    padding: 15% 25% 15% 25%;
    margin: 10%;
}

.share i{
    color: #C06EF3;
    font-size: 30px;
}

.download i{
    color: #FDBA09;
    font-size: 30px;
}

.write i{
    color: #6DEDC3;
    font-size: 30px;
}

.info{
    background-color: #EEECF2;
}

.img-info{
    max-width: 320px;
    object-fit: cover;
}

.titulo3{
    font-size: 50px;
    color: var(--purple-font-color);
}

.titulo4{
    font-size: 50px;
    color: var(--purple-color);
}


.services{
    background-color: #6DE4ED;
    border-radius: 25px;
}

.img-service{
    width: 100px; 
    height: 90px; 
    object-fit: cover;
}

@media (max-width: 530px) { 
    .titulo3{
        font-size: 40px;
    }
    
    .titulo4{
        font-size: 40px;
    }
 
}

@media (max-width: 400px) { 
    .titulo3{
        font-size: 30px;
    }
    
    .titulo4{
        font-size: 30px;
    }
 
}
