.footer{
    background-color: var(--purple-color);
}

.footer-text li{
  padding-top: 2%;
}

.logo-link {
    max-width: 200px; 
    height: 206px;
    background-image: url('/l.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}
