<div class="container-fluid p-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bold titulo-not ">Todas tus notas</h2>
    <button routerLink="/create" class="add-note-button">+ Nueva Nota</button>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start p-3">
    <div class="p-1 w-100 w-md-auto">
      <label for="dateInput" class="form-label fw-semibold">Filtrar por fecha</label>
      <input 
        type="date" 
        [(ngModel)]="selectedDate" 
        class="form-control inputs-color" 
        id="dateInput">
    </div>

    <div class="p-1 w-100 w-md-auto">
      <label for="categorySelect" class="form-label fw-semibold">Filtrar por etiqueta</label>
      <select 
        class="form-select inputs-color" 
        [(ngModel)]="selectedCategory" 
        id="categorySelect">
        <option value="">Seleccione una categoría</option>
        <option 
          *ngFor="let categoryItem of categories" 
          [value]="categoryItem.catCategorie">
          {{ categoryItem.catCategorie }}
        </option>
      </select>
    </div>

    <div class="d-flex flex-column flex-md-row align-items-center mt-2 mt-md-0">
      <button 
        class="btn btn-sm m-2 fw-semibold btn-outline-primary" 
        (click)="applyNoteFilter()">Filtrar</button>
      <button 
        class="btn btn-sm m-2 fw-semibold btn-trash text-white" 
        (click)="clearFilter()">Limpiar</button>
    </div>
  </div>

  <div *ngIf="entries.length > 0; else noEntries" class="m-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div *ngFor="let entry of filteredEntries" class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center">
              <div class="col-8">
                <h5 class="text-black fw-semibold">
                  {{ truncateText(entry.entTitle, 25) }}
                </h5>
              </div>
              <div class="col-4 text-center">
                <span class="fw-semibold text-med">{{ entry.entDate }}</span>
              </div>
            </div>
            <p class="fw-semibold">Estado emocional: {{ entry.emoStaState }} {{ getEmojiForStatus(entry.emoStaState) }}</p>
            <p class="card-text">
              {{ truncateText(entry.entText, 50) }}
            </p>
            <div class="d-flex justify-content-center align-items-center">
              <div *ngIf="entry.catCategorie && entry.catCategorie.length > 0; else noCategories" class="categories col-6 align-items-start">
                <span *ngFor="let item of entry.catCategorie; let i = index">
                  <span 
                    class="categorie text-small text-white fw-semibold p-1 m-1 rounded" 
                    [ngStyle]="{'background-color': colors[i % colors.length]}">
                    {{ item }}
                  </span>
                </span>
              </div>
              <ng-template #noCategories>
                <div class="categories col-6 align-items-start">No tienes etiquetas.</div>
              </ng-template>

              <div class="col-6 text-end">
                <button (click)="onGeneratePdf(entry.dailyLogId)" class="btn btn-download btn-sm m-1 text-white fw-bold">
                  <i class="bi bi-download fw-bold"></i>
                </button>
                <button (click)="onClickDeleteEntry(entry.entId)" class="btn btn-trash btn-sm m-1 text-white">
                  <i class="bi bi-trash fw-bold"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm m-1">
                  <a [routerLink]="['/notes', entry.dailyLogId]">
                    <i class="bi bi-pencil text-white fw-bold"></i>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noEntries>
    <div class="text-center py-4">
      <span *ngIf="selectedDate == null; else noDate">
        <p>No tienes entradas </p>
      </span>
      <ng-template #noDate>
        No se encontraron entradas
      </ng-template>
    </div>
  </ng-template>
</div>
