<header class="header bg-body-tertiary d-flex align-items-center p-2">
    <div class="col-6 col-md-5" [routerLink]="['/home']">
        <a class="logo-link"></a>
    </div>
    <div class="col-6 col-md-7 d-flex justify-content-end align-items-center text-end">
        <div>
            <button class="btn btn-login" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">Iniciar Sesión</button>
            <button class="btn btn-register" type="button" data-bs-toggle="modal" data-bs-target="#modalRegister">Registrarse</button>
            <button class="btn btn-register" type="button" data-bs-toggle="modal" [routerLink]="['/admlogin']">Soy administrador</button>
        </div>
    </div>
</header>
<app-login></app-login>
<app-register></app-register>