<header class="header bg-body-tertiary d-flex align-items-center p-2">
    <div class="col-6 col-md-5">
        <a class="logo-link"></a>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-end align-items-center">
        <div>
            <input 
                type="checkbox" 
                class="checkbox" 
                id="checkbox" 
                (change)="toggleDarkMode()">
            <label for="checkbox" class="checkbox-label">
                <i  class="fas" 
                    [ngClass]="{
                        'fa-moon': darkModeService.darkModeSignal() === 'null',
                        'fa-sun': darkModeService.darkModeSignal() === 'dark'
                    }">
                </i>
                <span class="ball"></span>
            </label>
        </div>
        <div>
            <button class="btn btn-login" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">Iniciar Sesión</button>
            <button class="btn btn-register" type="button" data-bs-toggle="modal" data-bs-target="#modalRegister">Registrarse</button>
        </div>
    </div>
    
</header>


<app-login></app-login>
<app-register></app-register>