<header class="header d-flex align-items-center p-2">
    <div class="col-6 col-md-5">
        <a class="logo-link"></a>
    </div>
    <div class="col-6 col-md-7 text-end">
        <button class="btn btn-login"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modalLogin">Iniciar Sesión</button>
        <button class="btn btn-register"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modalRegister">Registrarse</button>
    </div>
</header>


<app-login></app-login>
<app-register></app-register>