<div>
  <button routerLink="/create" class="">Nueva Nota </button>
</div>
<div *ngIf="entries.length > 0; else noEntries">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let entry of entries">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-light d-flex flex-wrap align-items-center">
          <h5 class="card-title mb-0 flex-grow-1">{{ truncateText(entry.entTitle, 10) }}</h5>
          <span class="badge ms-1" *ngFor="let category of getVisibleCategories(entry.catCategorie)"
            [ngClass]="getCategoryClass(category)">
            {{ category }}
          </span>
          <span class="badge bg-secondary ms-1" *ngIf="getExtraCategoriesCount(entry.catCategorie) > 0"
            data-bs-toggle="tooltip" data-bs-placement="top"
            [attr.title]="getExtraCategories(entry.catCategorie).join(', ')">
            +{{ getExtraCategoriesCount(entry.catCategorie) }}
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ truncateText(entry.entText, 20) }}
          </p>
          <p class="mb-0 d-flex align-items-center">
            <strong>Emoción:</strong>
            <span class="ms-2">{{ getEmojiForStatus(entry.emoStaState) }} {{ entry.emoStaState }}</span>
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-download"></i> Descargar
          </button>
          <button (click)="onClickDeleteEntry(entry.entId)" type="button" class="btn btn-outline-danger btn-sm">
            <i class="bi bi-trash"></i> Eliminar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-pencil"></i> Editar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noEntries>
  <span *ngIf="selectedDate==null; else noDate">
    <p class="text-center">Selecciona un día</p>
  
  </span>
  <ng-template #noDate>
    No hay entradas para el día seleccionado. {{formattedDay(selectedDate)}}
  </ng-template>
</ng-template>

<div class="calendar-container mb-4">
  <div class="calendar">
    <div class="calendar-header">
      <button (click)="prevMonth()">&lt;</button>
      <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
      <button (click)="nextMonth()">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="calendar-weekdays">
        <span *ngFor="let day of weekDays">{{ day }}</span>
      </div>
      <div class="calendar-days">
        <span *ngFor="let day of days" [class.today]="isToday(day.date)" [class.selected]="isSelected(day.date)"
          [class.not-current-month]="!day.isCurrentMonth" [class.not-selectable]="day.date > currentDate"
          (click)="selectDate(day.date)" [ngClass]="{'disabled': day.date > currentDate}" data-bs-toggle="modal"
          data-bs-target="#modalEntries">
          {{ day.date.getDate() }}
          <span *ngIf="day.emoji">{{ day.emoji }}</span>
        </span>
      </div>
    </div>
  </div>
</div>




<!-- <div class="modal fade" id="modalEntries" tabindex="-1" aria-labelledby="modalEntriesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEntriesLabel">Entradas del Día</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="entries.length > 0; else noEntries">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col" *ngFor="let entry of entries">
              <div class="card h-100 shadow-sm">
                <div class="card-header bg-light d-flex flex-wrap align-items-center">
                  <h5 class="card-title mb-0 flex-grow-1">{{ truncateText(entry.entTitle, 10) }}</h5>
                  <span
                    class="badge ms-1"
                    *ngFor="let category of getVisibleCategories(entry.catCategorie)"
                    [ngClass]="getCategoryClass(category)">
                    {{ category }}
                  </span>
                  <span
                    class="badge bg-secondary ms-1"
                    *ngIf="getExtraCategoriesCount(entry.catCategorie) > 0"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    [attr.title]="getExtraCategories(entry.catCategorie).join(', ')"
                  >
                    +{{ getExtraCategoriesCount(entry.catCategorie) }}
                  </span>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    {{ truncateText(entry.entText, 20) }}
                  </p>
                  <p class="mb-0 d-flex align-items-center">
                    <strong>Emoción:</strong>
                    <span class="ms-2">{{ getEmojiForStatus(entry.emoStaState) }} {{ entry.emoStaState }}</span>
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-download"></i> Descargar
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="bi bi-pencil"></i> Editar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noEntries>
          <p class="text-center">No hay entradas para este día.</p>
        </ng-template>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->