<div class="calendar-container">
    <div class="calendar">
      <div class="calendar-header">
        <button (click)="prevMonth()">&lt;</button>
        <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
        <button (click)="nextMonth()">&gt;</button>
      </div>
      <div class="calendar-body">
        <div class="calendar-weekdays">
          <span *ngFor="let day of weekDays">{{ day }}</span>
        </div>
        <div class="calendar-days">
          <span
            *ngFor="let day of days"
            [class.today]="isToday(day.date)"
            [class.selected]="isSelected(day.date)"
            [class.not-current-month]="!day.isCurrentMonth"
            (click)="selectDate(day.date)"
          >
            {{ day.date.getDate() }}
            <span *ngIf="day.emoji">{{ day.emoji }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  