.card {
    border: none;
    border-radius: 12px;
}

.dark-mode .card {
    background-color: #1e1e1e;
}

.edit-button {
    background-color: #d63384;
    border: none;
    color: white;
}

.edit-button:hover {
    background-color: #bb2d73;
}

#buttonEditProfile{
    background-color: #C06EF3; 
    color: #ffffff; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px;
    margin-left:15px;
}

#imageProfile{
    width: 250px; 
    height: 250px; 
    object-fit: cover;
}
#namePerson{
    margin-left:15px;
    font-size:180%;
    color: var(--purple-font-color);
}
#infoPerson{
    margin-left:15px;
    font-size:120%;
}
#cardProfile{
    background-color: #f3e8ff; 
    border-radius: 15px;
}

#fotoPerfil{
    color: var(--purple-font-color);
}
.personName{
    color: #824dad;
}