<div class="modal fade" 
    id="modalRegister" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-register modal-content p-5">
        <button 
        type="button" 
        class="btn-close position-absolute top-0 end-0 m-4" 
        data-bs-dismiss="modal" 
        aria-label="Close"
        (click)="clearForm()">
        </button>
        <div class="modal-body text-center justify-content-center">
            <div>
            <h1 class="fw-bold" id="exampleModalLabel">Registro</h1>
            <p>Bienvenido a Reflectly, registrate para comenzar a escribir tu historia</p>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-register">
              <div formGroupName="person">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Documento" id="exampleInputDocument" formControlName="perDocument" [ngClass]="{
                    'is-invalid': form.get('person.perDocument')?.errors && 
                    form.get('person.perDocument')?.touched && 
                    form.get('person.perDocument')?.dirty}">
                    <span *ngIf="form.get('person.perDocument')?.errors && 
                    form.get('person.perDocument')?.touched && 
                    form.get('person.perDocument')?.dirty">
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perDocument')?.hasError('required')">*el campo es requerido</p>
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perDocument')?.hasError('pattern')">*el campo solo puede contener números</p>
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perDocument')?.hasError('minlength') || form.get('person.perDocument')?.hasError('maxlength')"> *el campo debe tener entre 6 y 12 caracteres</p>
                    </span>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Nombre" id="exampleInputName" formControlName="perName" [ngClass]="{
                    'is-invalid': form.get('person.perName')?.errors && 
                    form.get('person.perName')?.touched && 
                    form.get('person.perName')?.dirty}">
                    <span *ngIf="form.get('person.perName')?.errors && 
                    form.get('person.perName')?.touched && 
                    form.get('person.perName')?.dirty">
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perName')?.hasError('required')">*el campo es requerido</p>
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perName')?.hasError('pattern')">*error en formato de campo</p>
                    </span>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" formControlName="perLastname" placeholder="Apellido" id="exampleInputLastname"  [ngClass]="{
                    'is-invalid': form.get('person.perLastname')?.errors && 
                    form.get('person.perLastname')?.touched && 
                    form.get('person.perLastname')?.dirty}">
                    <span *ngIf="form.get('person.perLastname')?.errors && 
                    form.get('person.perLastname')?.touched && 
                    form.get('person.perLastname')?.dirty">
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perLastname')?.hasError('required')">*el campo es requerido</p>
                        <p class="text-danger text-start pt-1" *ngIf="form.get('person.perLastname')?.hasError('pattern')">*error en formato de campo</p>
                    </span>
                </div>
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" formControlName="useMail" placeholder="Correo Electrónico" id="exampleInputEmail"  [ngClass]="{
                  'is-invalid': form.get('useMail')?.errors && 
                  form.get('useMail')?.touched && 
                  form.get('useMail')?.dirty}">
                  <span *ngIf="form.get('useMail')?.errors && 
                  form.get('useMail')?.touched && 
                  form.get('useMail')?.dirty">
                      <p class="text-danger text-start pt-1" *ngIf="form.get('useMail')?.hasError('required')">*el campo es requerido</p>
                      <p class="text-danger text-start pt-1" *ngIf="form.get('useMail')?.hasError('pattern')">*error en formato de campo</p>
                  </span>
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <input 
                    [type]="showPassword ? 'text' : 'password'" 
                    class="form-control" 
                    formControlName="usePassword" 
                    placeholder="Contraseña" 
                    id="exampleInputPassword2"  
                    [ngClass]="{
                      'is-invalid': form.get('usePassword')?.errors && 
                      form.get('usePassword')?.touched && 
                      form.get('usePassword')?.dirty
                    }">
                  <button 
                    type="button" 
                    class="btn btn-eye" 
                    (click)="seePassword()">
                    <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                  </button>
                </div>
                <div *ngIf="form.get('usePassword')?.errors && 
                  form.get('usePassword')?.touched && 
                  form.get('usePassword')?.dirty">
                  <p class="text-danger text-start pt-1" *ngIf="form.get('usePassword')?.hasError('required')">*El campo es requerido</p>
                  <p class="text-danger text-start pt-1" *ngIf="form.get('usePassword')?.hasError('pattern')">*Error en formato de campo</p>
                  <p class="text-danger text-start pt-1" *ngIf="form.get('usePassword')?.hasError('minlength')">*La contraseña debe tener al menos 8 caracteres</p>
                </div> 
                <p class="warning text-start mt-2">*La contraseña debe tener entre 8 y 20 caracteres, e incluir al menos una letra, un número y un carácter especial.</p>               
              </div>
              <div>
                <button type="submit" class="btn btn-send fw-bold p-2" [disabled]="form.invalid">Registrarse</button>
              </div>
              <div class="mt-2 text-start">
                <p class="warning">*Al registrarte aceptas los términos y condiciones.</p>
              </div>
              <hr>
                <p>O accede usando</p>
                <div class="alternate-login d-flex justify-content-center align-items-center">
                    <button (click)="googleSignUp()" class="col-12 text-center">
                        <img src="/logoGoogle.png" alt="">
                        Google
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

