<div class="modal fade" 
    id="modalRegister" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-register modal-content p-5">
        <div class="modal-body text-center justify-content-center">
            <div>
            <h1 class="fw-bold" id="exampleModalLabel">Registrarse</h1>
            <p>Bienvenido a Reflectly. Registrate para comenzar a escribir tu historia</p>
            </div>
            <form (submit)="onSubmit()" class="form-register">
                <div class="mb-3">
                <input type="text" class="form-control" formControlName="per_document" placeholder="Documento" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="per_name" placeholder="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="per_lastname" placeholder="Apellido" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" formControlName="use_mail" placeholder="Correo Electrónico" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" formControlName="use_password" placeholder="Contraseña" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check text-start">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1"> 
                    <label class="form-check-label" for="exampleCheck1"> Aceptar términos y condiciones</label>
                  </div>
                <div>
                    <button type="submit" class="btn btn-send fw-bold p-2" [disabled]="form.invalid">Registrarse</button>
                </div>
                <hr>
                <p>O accede usando</p>
                <div class="alternate-login d-flex justify-content-center align-items-center">
                    <button class="col-6 btn text-center">
                        <img src="/logoGoogle.png" alt="">
                        Google
                    </button>
                    <button class="col-6 btn text-center">
                        <img src="/logoms.png" alt="">
                        Microsoft
                    </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>

