<div class="container">
    <div class="text-center">
        <h3>Subscribete para obtener beneficios especiales</h3>
        <h6>Beneficios</h6>
        <ul>
            <li>Recibe consejos por parte de nuestros especialistas en las notas que desees</li>
            <li>Agrega imágenes a tus notas</li>
            <li>Colabora con tus amigos</li>
            <li>Y mucho más!</li>
        </ul>
        <P>$5</P>
        <button class="btn btn-secondary"  [routerLink]="['/payment']">Subscribirse</button>
    </div>
</div>