<div class="note-container">
    <h1 class="editor-title">¿Qué piensas hoy?</h1>
    
    <div class="header d-flex justify-content-between align-items-center">
        <div class="back-icon">&larr;</div>
        <div class="title">Título</div>
        <div class="user-avatars d-flex">
            <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="User 1">
            <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="User 2">
            <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="User 3">
        </div>
    </div>

    <div id="editor-container" class="editor"></div>

    <div class="action-buttons d-flex justify-content-between mt-3">
        <div class="btn-action btn-tags">Agregar Etiquetas</div>
        <div class="btn-action btn-collaborator">Agregar Colaborador</div>
        <div class="btn-action btn-images">Subir Imágenes</div>
    </div>

    <div class="save-btn-container mt-4 text-center">
        <button class="btn btn-primary">Guardar</button>
    </div>
</div>