/* Contenedor principal */
.note-container {
    background-color: #f6e8ff;
    border-radius: 15px;
    width: 80vw;
    margin: 0 auto;
    color: #4b3f72;
    padding: 20px;
}

/* Encabezado */
.header {
    font-size: 24px;
    color: #a97eff;
    display: flex;
    flex-wrap: wrap; /* Permite reorganizar contenido si hay poco espacio */
    gap: 10px; /* Espaciado entre elementos en pantallas pequeñas */
}

.back-icon {
    font-size: 24px;
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4b3f72;
    flex: 1; /* Ocupa todo el ancho si es necesario */
    text-align: center;
}

.user-avatars {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Avatares */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Editor */
#editor-container {
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    color: #4b3f72;
    border: 1px solid #e4d4ff;
}

/* Botones de acción */
.action-buttons {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se reorganicen verticalmente */
    gap: 10px; /* Espaciado entre botones */
    justify-content: space-between;
}

.btn-tags, .btn-collaborator, .mood-select-container {
    flex: 1; /* Los botones ocupan el mismo espacio en pantallas pequeñas */
    text-align: center;
    background-color: #f7cbff;
    color: #4b3f72;
    border-radius: 10px;
    padding: 8px;
    margin: 5px 0;
    font-size: 1rem;
    color: #4b3f72;
    font-weight: 600;
}

.btn-collaborator {
    background-color: #b6e0fe;
}

.mood-select-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mood-label {
    font-size: 1rem;
    color: #4b3f72;
    font-weight: 600;
}

.form-select {
    background-color: #fff1f7;
    border: 1px solid #e4d4ff;
    border-radius: 10px;
    color: #4b3f72;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.form-select:focus {
    border-color: #d3c2ff;
}




/* Botón de guardar */
.save-btn-container {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    background-color:#4b3f72;
}