<div class="container p-4">
    <div class="p-4 sub-title">
        <h3>Tus pacientes</h3>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let user of users">
          <div class="card shadow">
            <div class="card-body text-start">
                <h5 class="card-title fw-bold">{{ user.person.perName }} {{ user.person.perLastname}} </h5>
                <div>
                  <span class="card-text">Correo: {{ user.useMail }}</span><br>
                  <span class="card-text">Documento: {{ user.person.perDocument }}</span><br>
                  <button id="buttonEditProfile" 
                  class="btn btn-secondary mt-2" 
                  data-bs-toggle="modal" 
                  data-bs-target="#modalPregunta" 
                  (click)="openModal(user.useId)">
              Hacer Consulta
          </button>
          
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="modal fade" 
    id="modalPregunta" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-login modal-content p-5">
        <button 
        type="button" 
        class="btn-close position-absolute top-0 end-0 m-4" 
        data-bs-dismiss="modal" 
        aria-label="Close">
        </button>
        <div class="modal-header justify-content-center">
          <h4 class="fw-bold">Consulta</h4>
        </div>
        <div class="modal-body text-center justify-content-center">
          
          <div *ngIf="loading" class="text-center">
            <h3>Cargando...</h3>
          </div>

          <div *ngIf="!loading">
            <p class="text-start">Emociones Generales: {{ overallEmotion }} {{ emoji }}</p>
            <hr>
            <div class="text-start">Notas del usuario: {{ contexto }}</div>
            
            <form (submit)="onSubmit(); $event.preventDefault();" class="form-login pt-3">
              <div>
                <input type="text" class="form-control" [(ngModel)]="question" name="question">
              </div>
              <div>
                  <button type="submit" class="btn btn-send fw-bold mt-3">Preguntar</button>
              </div>   
            </form>

            <div class="mt-3" *ngIf="chatResponse">
              <h5>Respuesta del Chatbot:</h5>
              <p *ngIf="chatResponse">{{ chatResponse }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>



  