<div class="modal fade" id="modalEditProfile" tabindex="-1" aria-labelledby="modalEditProfileLabel" aria-hidden="true" #editProfileModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4" style="border-radius: 20px; background-color: #fdf7ff;">
      <div class="modal-header border-0 text-center">
        <h5 class="modal-title w-100 fw-bold" id="modalEditProfileLabel">Editar Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editProfileForm" (ngSubmit)="onUpdateUser()">
          <div class="mb-3">
            <label for="userDocument" class="form-label fw-semibold">Documento</label>
            <input
              type="text"
              formControlName="document"
              class="form-control"
              id="userDocument"
              placeholder="Introduce tu documento"
              [ngClass]="{'is-invalid': editProfileForm.get('document')?.invalid && editProfileForm.get('document')?.touched}"
              style="background-color: #f6e8ff; border-radius: 10px;"
            >
            <div *ngIf="editProfileForm.get('document')?.invalid && editProfileForm.get('document')?.touched" class="invalid-feedback">
              Documento inválido. Debe contener entre 7 y 10 dígitos.
            </div>
          </div>
        
          <div class="mb-3">
            <label for="userName" class="form-label fw-semibold">Nombre</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="userName"
              placeholder="Introduce tu nombre"
              [ngClass]="{'is-invalid': editProfileForm.get('name')?.invalid && editProfileForm.get('name')?.touched}"
              style="background-color: #f6e8ff; border-radius: 10px;"
            >
            <div *ngIf="editProfileForm.get('name')?.invalid && editProfileForm.get('name')?.touched" class="invalid-feedback">
              Nombre inválido. Debe contener al menos 2 caracteres.
            </div>
          </div>
        
          <div class="mb-3">
            <label for="userSurname" class="form-label fw-semibold">Apellido</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="userSurname"
              placeholder="Introduce tu apellido"
              [ngClass]="{'is-invalid': editProfileForm.get('lastName')?.invalid && editProfileForm.get('lastName')?.touched}"
              style="background-color: #f6e8ff; border-radius: 10px;"
            >
            <div *ngIf="editProfileForm.get('lastName')?.invalid && editProfileForm.get('lastName')?.touched" class="invalid-feedback">
              Apellido inválido. Debe contener al menos 2 caracteres.
            </div>
          </div>
        
        </form>
        
        
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border-radius: 10px;">Cancelar</button>
        <button type="button" (click)="onUpdateUser()" class="btn btn-primary" style="background-color: #a97eff; border-radius: 10px;">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
