<header class="header bg-body-tertiary d-flex align-items-center p-2"> 
    <div class="col-6 col-md-5">
        <a class="logo-link"></a>
    </div>
    <div class="container-fluid d-flex justify-content-end align-items-center">
        <div>
            <input 
                type="checkbox" 
                class="checkbox" 
                id="checkbox" 
                (change)="toggleDarkMode()">
            <label for="checkbox" class="checkbox-label">
                <i 
                    class="fas" 
                    [ngClass]="{
                        'fa-moon': darkModeService.darkModeSignal() === 'null',
                        'fa-sun': darkModeService.darkModeSignal() === 'dark'
                    }">
                </i>
                <span class="ball"></span>
            </label>
        </div>
        <div class="text-end p-2">
            <button (click)="Logout()" class="btn btn-custom fw-semibold d-flex align-items-center gap-2">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Salir</span>
            </button>
        </div>
    </div>
</header>
