<header class="header bg-body-tertiary d-flex align-items-center p-2">
    <div class="col-4 col-md-4" [routerLink]="['/home']">
        <a class="logo-link"></a>
    </div>

    <div class="col-8 col-md-7 d-flex justify-content-end align-items-center text-end">
        <div class="d-flex">
            <button class="btn btn-custom fw-semibold" [routerLink]="['/subscription']">Subscribirse</button>
            <button class="btn btn-custom fw-semibold" [routerLink]="['/notes']">Mis Notas</button>
            <button (click)="Logout()" class="btn btn-custom fw-semibold d-flex align-items-center gap-2">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="d-none d-md-inline">Salir</span>
            </button>
        </div>
    </div>
</header>
