.logo-link {
    display: inline-block;
    margin: 0 8%;
    width: 200px; 
    height: 100px;
    background-image: url('/logomorado.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}

.header{
    background-color: #ffff;
}
.checkbox {
    display: none;
}

.checkbox-label {
    background-color: var(--purple-color);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.checkbox-label i {
    font-size: 12px;
    color: white;
}

.ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

.btn-custom{
    color: var(--purple-color);
    margin: 6%;
}

.btn-custom:hover{
    color: #ffff;
    background-color: var(--purple-color);
    transition: 0.5s;
}